<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.2-beta2" targetFramework="net452" />
  <package id="System.Data.HashFunction.BernsteinHash" version="2.0.0-ci-00012" targetFramework="net452" />
  <package id="System.Data.HashFunction.Core" version="2.0.0-ci-00012" targetFramework="net452" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0-ci-00012" targetFramework="net452" />
  <package id="System.Data.HashFunction.SpookyHash" version="2.0.0-ci-00012" targetFramework="net452" />
</packages>